page{
    background-color: #fff;
}
.container{
    swiper{
        height: 600rpx;
        position: relative;
        image{
            width: 100%;
            height: 100%;
        }
        
    }
    .tupian-tip{
        position: absolute;
        z-index: 10;
        top: 520rpx;
        left: 20rpx;
        padding: 8rpx 10rpx;
        // background-color:#8b89891a;
        opacity: .8;
        border-radius: 10rpx;
        color: #fff;
        display: flex;
        align-items: center;
        background-color: #4F4F4F;
        m-icon{
            margin-right: 12rpx;
        }
        .image-count{
            font-size: 24rpx;
        }
    }
    .userinfo-wrapper{
        padding: 56rpx 36rpx;
        .userinfo-box{
            display: flex;
            flex-direction: column;
            margin-bottom: 80rpx;
            .nickname{
                font-size: 50rpx;
                margin-bottom: 12rpx;
            }
            .flex-item{
                font-size: 28rpx;
                color: 	#696969;
                margin-bottom: 12rpx;
                text{
                    margin-right: 20rpx;
                }
            }
            &::after{
                margin-top: 20rpx;
                content: '';
                display: inline-block;
                width: 60rpx;
                height: 6rpx;
                background-color: #000;
            }
        }
        .moment{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2rpx solid #CFCFCF;
            height: 120rpx;
            font-size: 24rpx;
            color: 	#696969;
            .img-list{
                display: flex;
            }
            image{
                width: 80rpx;
                height: 80rpx;
                margin-right: 10rpx;
            }
        }
        .introduce-box{
            margin-bottom: 60rpx;
            .title{
                display: flex;
                height: 128rpx;
                align-items: center;
                font-size: 24rpx;
                border-bottom: 2rpx solid #CFCFCF;
                color: 	#696969;
            }
            .title-detail{
                font-size: 26rpx;
            }
        }
        .keys{
            font-size: 24rpx;
            color: #696969;
            display: flex;
            flex-direction: column;
            margin-bottom: 120rpx;
            .title{
                line-height: 128rpx;
                border-bottom: 2rpx solid#CFCFCF;
            }
            
            .key-box{
                
                .key-item{
                    display: flex;
                    margin-top: 40rpx;
                    color: #000;
                    .image-wrapper{
                        width: 100rpx !important;
                        // margin-right: 60rpx;
                    }
                    image{
                        width: 60rpx;
                        height: 60rpx;
                        margin-right: 60rpx;
                        
                    }
                    font-size: 28rpx;
                    text{
                        display: inline-block;
                        margin-bottom: 20rpx;
                        margin-right: 24rpx;
                    }
                }
            }
        }
        
    }
    .operator-box{
        display: flex;
        justify-content: space-around;
        font-size: 24rpx;
        height: 116rpx;
        box-shadow: 0 0 30rpx 4rpx #CFCFCF;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        .box{
            width: 320rpx;
            height: 80rpx;
            background-color: #000;
            color: #fff;
            line-height: 80rpx;
            text-align: center;
        }
        .chat{
            
        }
        .share{
            color: #000;
            border: 2rpx solid #000;
            background-color: #fff;
        }
    }
}